
/* Your CSS Code here. */
.container {
	width: 200px;
	background-color: purple;
	border-left: 5px solid green;
	padding: 10px;
	font-size: 20px;
}
.c1 {
	width: 230px;
	background-color: white;
	padding: 5px;
}

.container h1 {
	font-size: 20px;
	color: white;
	text-decoration: underline;
}

.container div {
	border-left: 5px solid green;
}
